.titulo_principal{
    font-size: 2.25rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container-conteudo{
    padding: 6rem 0;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 1.5rem;
}